exportPattern("^[[:alpha:]]+")
importFrom("graphics", "par")
importFrom("stats", "mahalanobis", "quantile", "sd", "var")
importFrom("utils", "menu", "select.list", "write.csv")
importFrom("mice", "mice", "complete")
importFrom("tidyr", "gather")
import("ggplot2", "dplyr", "readr", "purrr",
       "tibble", "stringr", "forcats", "reshape2",
       "ClusterR", "cluster", "ggthemes", "moments")
import("crayon")
